$theme-color: #33aef0;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    user-select: none; 
    -webkit-tap-highlight-color: transparent;
    /* rem vw vh */
    width: 100vw;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
}
.clearfix::after{
    clear: both;
    display: block;
    content: "";
    width: 0;
    height: 0;
    visibility: hidden;
}
.clearfix{
    zoom: 1;
}